.env
mobile
llm_server/llm
__pycache__
sam
sam_vit_h_4b8939.pth
templates/*
results/*
sam_output_problems/*
FaceTracker
hand
hand_write_data/*
keys
deploy_env
.venv
cv_which_prob/*
segment_anything_/*